# Workflow name
name: Check App
permissions:
  contents: read

# When it will be triggered
on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# Where it will run
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Cache Build files
        uses: actions/cache@v5
        with:
          path: ./**/build
          key: ${{ runner.os }}-dbg-build-${{ hashFiles('**/*.kt') }}
          restore-keys: ${{ runner.os }}-dbg-build

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          log-accepted-android-sdk-licenses: false

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Create Google Services JSON File
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $GOOGLE_SERVICES_JSON | base64 -di > ./app/google-services.json

      - name: Update local.properties
        run: |
          echo "signing.keystore=keystore.jks" >> ./local.properties
          echo "signing.password=${{ secrets.SIGNING_PASSWORD }}" >> ./local.properties
          echo "signing.alias=${{ secrets.SIGNING_ALIAS }}" >> ./local.properties

      - name: Create debug build
        run: ./gradlew app:assembleDebug

      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: debug apk
          path: app/build/outputs/apk/debug/*

  check:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache SonarQube packages
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Cache Build files
        uses: actions/cache@v5
        with:
          path: ./**/build
          key: ${{ runner.os }}-dbg-build-${{ hashFiles('**/*.kt') }}
          restore-keys: ${{ runner.os }}-dbg-build

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          log-accepted-android-sdk-licenses: false

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Create Google Services JSON File
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $GOOGLE_SERVICES_JSON | base64 -di > ./app/google-services.json

      - name: Update local.properties
        run: |
          echo "signing.keystore=keystore.jks" >> ./local.properties
          echo "signing.password=${{ secrets.SIGNING_PASSWORD }}" >> ./local.properties
          echo "signing.alias=${{ secrets.SIGNING_ALIAS }}" >> ./local.properties

      - name: Run lint and unit tests
        run: ./gradlew check

      - name: Check if everything is formatted correctly
        run: ./gradlew spotlessCheck

      - name: Perform SonarQube analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar

      - name: Upload Reports
        uses: actions/upload-artifact@v6
        with:
          name: Reports
          path: app/build/reports
        if: always()
